@using StudentAttendace.Models.DbModels
@model IEnumerable<StudentAttendace.Models.DbModels.Group>;

@{
    ViewData["Title"] = "Grupės";
}

<div class="container-fluid mt-5 pt-3">
    @{
        foreach (var group in Model)
        {
            <div class="row mt-4 rounded custom-bg-green">
                <div class="col d-flex justify-content-between align-items-center">
                    <p class="mt-2 mb-2">@group.GroupName</p>
                    <button type="button" class="border-0 custom-bg-green" data-bs-toggle="collapse" data-bs-target="#studentsList_@group.GroupID"><i class="bi bi-three-dots"></i></button>
                </div>
                <div class="collapse mb-3 mt-3" id="studentsList_@group.GroupID">
                    <div class="custom-bg-white rounded p-2">
                    @{
                        var students = ViewBag.Student as IEnumerable<Student>;
                        var filteredStudents = students?.Where(st => st.GroupId == @group.GroupID);

                        if (filteredStudents != null)
                        {
                            foreach (var fs in filteredStudents)
                            {
                                <div class="col d-flex justify-content-between align-items-center m-2 bg-light rounded">
                                    <p class="mt-2 mb-2 mx-2">@fs.Name @fs.LastName</p>
                                    <a href="@Url.Action("GetStudentById", "Students", new {id = @fs.StudentID})" class="rounded border-0 custom-bg-drkgreen mx-2 py-1 px-1 text-light text-decoration-none">Plačiau</a>
                                </div>
                            }
                        }
                    }
                    </div>
                </div>
            </div>   
        }
    }
</div>