@using StudentAttendace.Models.DbModels
@model StudentAttendace.Models.DbModels.Lecture 

@{
    ViewData["Title"] = "Paskaita";
}

<form method="post" asp-controller="Lectures" asp-action="SaveAttendance">
    <div class="container-fluid mt-5">
        <input type="hidden" name="lectureId" value="@Model.LectureId" />
        <div class="row">
            <div class="col d-flex justify-content-between align-content-center">
                <h1>Paskaita</h1>
                <h1 id="lectureTime">@Model.LectureDate.ToString("yyyy-MM-dd")</h1>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex mt-5">
                @{
                    if (!Model.IsAttended)
                    {
                        <button type="submit" class="btn-info custom-bg-green rounded border-0 px-3">Išsaugoti</button>
                        <button type="button" class="btn-info custom-bg-drkgreen rounded border-0 mx-3 px-3 text-light" onclick="openQrCode(@Model.LectureId)">Generuoti QR</button>
                    }
                    else
                    {
                        <button type="submit" class="btn-info custom-bg-green rounded border-0 mx-3 px-3">Išsaugoti</button>
                    }
                }
                
            </div>
        </div>
        <div class="mt-5">
            <div class="d-flex custom-bg-green justify-content-start align-items-center rounded mb-4">
                <p class="flex-grow-1 fw-bold mt-2 mb-2 px-3">Vardas Pavardė</p>
                <p class="fw-bold mt-2 mb-2" style="margin-right: 16%">Dalyvavimas</p>
            </div>
            @{
                
                var students = ViewBag.Student as IEnumerable<Student>;
                var filteredStudents = students?.Where(st => st.GroupId == @Model.GroupId);

                if (!Model.IsAttended)
                {
                    foreach (var st in filteredStudents!)
                    {
                        <div class="d-flex bg-light mb-2 rounded p-1">
                            <div class="flex-grow-1">
                                <p class="px-3 mt-2 mb-2">@st.Name @st.LastName</p>
                            </div>
                            <div class="d-flex justify-content-between align-content-center">
                                <div class="form-check mb-2 mt-2">
                                    <input class="form-check-input attendance-radio" type="radio" name="attendance[@st.StudentID]" id="Yes_@st.StudentID" value="true">
                                    <label class="form-check-label" for="Yes_@st.StudentID">Dalyvauja</label>
                                </div>
                                <div class="form-check mb-2 mt-2 mx-5">
                                    <input class="form-check-input attendance-radio" type="radio" name="attendance[@st.StudentID]" id="No_@st.StudentID" value="false">
                                    <label class="form-check-label" for="No_@st.StudentID">Nedalyvauja</label>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    var studentsLectures = ViewBag.StudentLecture as IEnumerable<StudentsLecture>;
                    
                    foreach (var st in filteredStudents!)
                    {
                        
                        <div class="d-flex bg-light mb-2 rounded p-1">
                            <div class="flex-grow-1">
                                <p class="px-3 mt-2 mb-2">@st.Name @st.LastName</p>
                            </div>
                            <div class="d-flex justify-content-between align-content-center">
                                
                                @{
                                    foreach (var sl in studentsLectures)
                                    {
                                        if (sl.StudentId == st.StudentID && sl.IsParticipating)
                                        {
                                            <div class="form-check mb-2 mt-2">
                                                <input class="form-check-input attendance-radio" type="radio" name="attendance[@st.StudentID]" id="Yes_@st.StudentID" value="true" checked>
                                                <label class="form-check-label" for="Yes_@st.StudentID">Dalyvauja</label>
                                            </div>
                                            <div class="form-check mb-2 mt-2 mx-5">
                                                <input class="form-check-input attendance-radio" type="radio" name="attendance[@st.StudentID]" id="No_@st.StudentID" value="false">
                                                <label class="form-check-label" for="No_@st.StudentID">Nedalyvauja</label>
                                            </div>
                                        }
                                        else if (sl.StudentId == st.StudentID && !sl.IsParticipating)
                                        {
                                            <div class="form-check mb-2 mt-2">
                                                <input class="form-check-input attendance-radio" type="radio" name="attendance[@st.StudentID]" id="Yes_@st.StudentID" value="true">
                                                <label class="form-check-label" for="Yes_@st.StudentID">Dalyvauja</label>
                                            </div>
                                            <div class="form-check mb-2 mt-2 mx-5">
                                                <input class="form-check-input attendance-radio" type="radio" name="attendance[@st.StudentID]" id="No_@st.StudentID" value="false" checked>
                                                <label class="form-check-label" for="No_@st.StudentID">Nedalyvauja</label>
                                            </div>
                                        }
                                        
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</form>
<script>
    function openQrCode(lectureId) {
        window.open(`/Home/GenerateQrCode?lectureId=${lectureId}`, '_blank');
    }
</script>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js"></script>
    <script>
        const lectureId = @Model.LectureId;
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/attendanceHub")
            .build();
        
        connection.start().then(function() {
            connection.invoke("JoinLectureGroup", lectureId).catch(function (err) {
                return console.error(err.toString());
            });
        }).catch(function (err) {
            return console.error(err.toString());
        });

       
        connection.on("ReceiveAttendanceUpdate", function (studentId) {
            const radioButton = document.getElementById(`Yes_${studentId}`);
            if (radioButton) {
                radioButton.checked = true;
            }
        });
    </script>
}