@{
    Layout = "_LayoutAdmin";
}

<div class="container-fluid mt-5">
    <form asp-action="CreateLecture" asp-controller="Lectures" method="post" class="mt-4">
        <input hidden name="IsAttended" id="IsAttended" value="false"/>
        <input hidden name="WeekDay" id="WeekDay" value="day"/>
        <div class="row">
            <div class="col mb-3">
                <label for="LectureDate" class="form-label">Paskaitos data</label>
                <input type="date" class="form-control" id="LectureDate" name="LectureDate" required>
            </div>
            <div class="col mb-3">
                <label for="GroupId" class="form-label">Grupė</label>
                <select name="GroupId" id="GroupId" class="form-select" required>
                    <option value="">Pasirinkite grupę</option>
                    @{
                        foreach (var group in ViewBag.Group)
                        {
                            <option value="@group.GroupID">@group.GroupName</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="SubjectId" class="form-label">Dalykas</label>
                <select name="SubjectId" id="SubjectId" class="form-select" required>
                    <option value="">Pasirinkite dalyką</option>
                    @{
                        foreach (var subject in ViewBag.Subject)
                        {
                            <option value="@subject.SubjectId">@subject.SubjectName</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="LectureTimeId" class="form-label">Paskaitos laikas</label>
                <select name="LectureTimeId" id="LectureTimeId" class="form-select" required>
                    <option value="">Pasirinkite laiką</option>
                    @{
                        foreach (var lectureTimes in ViewBag.LectureTime)
                        {
                            <option value="@lectureTimes.LectureTimeId">@lectureTimes.TimeStart - @lectureTimes.TimeEnd</option>
                        }
                    }
                </select>
            </div>
        </div>
        <button type="submit" class="custom-bg-darkblue text-light border-0 rounded mt-3 p-2">Pridėti paskaitą</button>
    </form>
</div>
