@using StudentAttendace.Models.DbModels
@model StudentAttendace.Models.DbModels.Student;

@{
    Layout = "_LayoutAdmin";
}

<div class="container-fluid mt-5">
    <form asp-action="UpdateStudent" asp-controller="Students" method="post" class="mt-4">
        <input hidden name="StudentID" id="StudentID" value="@Model.StudentID"/>
        <div class="row">
            <div class="col mb-3">
                <label for="Name" class="form-label">Vardas</label>
                <input name="Name" id="Name" class="form-control" value="@Model.Name" required/>
            </div>
            <div class="col mb-3">
                <label for="LastName" class="form-label">Pavardė</label>
                <input name="LastName" id="LastName" class="form-control" value="@Model.LastName" required/>
            </div>
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">El. paštas</label>
            <input name="Email" id="Email" type="email" class="form-control" value="@Model.Email" required/>
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Slaptažodis</label>
            <input name="Password" id="Password" class="form-control" value="@Model.Password" required/>
        </div>
        <div class="mb-3">
            <label for="GroupId" class="form-label">Grupė</label>
            <select name="GroupId" id="GroupId" class="form-select" required>
                @{
                    var groups = ViewBag.Group as IEnumerable<Group>;

                    var groupName = groups.FirstOrDefault(gr => gr.GroupID == @Model.GroupId);
                    
                    <option value="@groupName.GroupID">@groupName.GroupName</option>
                    foreach (var group in ViewBag.Group)
                    {
                        <option value="@group.GroupID">
                            @group.GroupName
                        </option>
                    }
                }
                
                
            </select>
        </div>
        <button type="submit" class="custom-bg-darkblue text-light border-0 rounded mt-3 p-2">Išsaugoti</button>
    </form>
</div>